@import url(./fonts/fonts.css);
@import url(./styles/card/card.css);
@import url(./styles/container/container.css);

body {
  margin: 0;
  font-family: SF, sans-serif;
  color: #ffffff;
}

p,
h2,
h3 {
  padding: 0;
  margin: 0;
}
